<div class = "container-fluid">	
	<div class = "row">

		<div class="col-4">
			<div class = "row col-12">
				<label class="col-4" for = "selectedPrinter" >Printer:</label>
				<select [(ngModel)] = "selectedPrinter" class='col-8 select-option' >
					<option class='option'  *ngFor="let printer of printers" [value]="printer | json" >{{printer.name}}</option>
				</select>
				<div class="col-12" style="padding:0">
					<button type = "button" class = "btn btn-outline-secondary btn-block" (click)="deletePrinter()">Delete Printer</button>
				</div>
				<div class="col-12" style="padding:0">
					<button type = "button" class = "btn btn-outline-secondary btn-block" (click)="addPrinterForm()">Add Printer</button>
				</div>
				<label class = "col-4">Width: </label>
				<select [(ngModel)] = "labelWidth" class='col-8 select-option'>
					<option class='option'  *ngFor="let width of createLengths()" [value]="width">{{width}}</option>
				</select>
				<label class = "col-4">Height: </label>
				<select [(ngModel)] = "labelHeight" class='col-8 select-option'>
					<option class='option'  *ngFor="let height of createLengths()" [value]="height">{{height}}</option>
				</select>
			</div>
		</div>

		<div class = "row col-2">
			<button type = "button" class = "btn btn-outline-secondary btn-block create-queue_btn col-12" (click)="queueClicked()">Create Queue</button>
			<button type = "button" class = "btn btn-outline-secondary btn-block create-queue_btn col-12" (click)="eraseQueue()">Erase Queue</button>
			<button type = "button" class = "btn btn-outline-secondary btn-block create-queue_btn col-12" (click)="printQueueClicked(printQueueSize(),0)">Print Queue</button>
			<label for = 'printQueueCount' class = "col-11" style="font-size: 0.8rem;padding:0;margin:0">Labels in queue: </label>
			<p name='printQueueCount' class="col-1" style="font-size: 0.8rem;padding:0;margin:0">{{printQueueSize()}}</p>
		</div>

		<div id="xl-btns_div" class="row col-2">
			<label for="file-upload" class="btn btn-outline-secondary btn-block create-queue_btn col-12">
			    Select File
			</label>
			<input id="file-upload" type="file" (change)="importXL($event)"/>
<!-- 			<button type="button" id="upload_btn" class="btn btn-outline-secondary btn-block create-queue_btn col-12" (click)="uploadXL()">Upload</button> -->
			<button type="button" id="print-file_btn" class="btn btn-outline-secondary btn-block create-queue_btn col-12" (click)="printFile()">Print File</button>
		</div>

	</div>
	<div class = "row" style = "padding-left: 1rem">
		<i class="fas fa-plus-square fa-7x btn" style = "color: green; font-size:3rem" (click) = "addText()"></i>
		&nbsp;
		<i class = "fas fa-minus-square fa-7x btn" style = "color: red; font-size:3rem" (click) = "removeText()"></i>
	</div>

	<hr>

	<div class = "row">
		<div class = "sidebar col-3">
			<div style = "margin:10px">
				<div class = "row">
					<fieldset>
					    <legend>Label Settings</legend>
					   	<div>
	   							<label class = "col-4" for = "labelTemplate">Template:</label>
									<select [(ngModel)] = "labelTemplate" class='col-8 select-option' (change)="changeTemplate()">
										<option class='option'  *ngFor="let template of labelTemplates" [value]="template">{{template}}</option>
									</select>	
							</div>
					</fieldset>
				</div>
				<div class = "row">
			    </div>
			    <div class ="row">
		        <label for="rfidCheckBox" class="col-6">RFID Label:</label>
		        <input type="checkbox"  class="col-5" id="rfidCheckBox"[(ngModel)]="isRFID"/>
						<label for="rfidText" class="col-6">RFID Value:</label>
						<input id="rfidText" class="col-5" type="text" [(ngModel)]="rfidText" [value]=""/>
						<label for="home-x" class="col-6">Label Home X:</label>
						<input id="home-x" class="col-5" type="number" [(ngModel)]="labelHome[0]" [value]="labelHome[0]"> 
						<label for="home-y" class="col-6">Label Home Y:</label>
						<input id="home-y" class="col-5" type="number" [(ngModel)]="labelHome[1]" [value]="labelHome[1]"/> 
					</div>
					<div *ngFor="let textValue of text;let i=index;trackBy:trackByFn" class = "row" >		<!-- trackBy prevents strange error with input  -->
						<button type = "button" class = "btn btn-outline-secondary btn-block" (click)="textSettingsExpanded[i]=!textSettingsExpanded[i]"><b>Line {{i+1}}</b></button>
					<div >
						<div *ngIf="textSettingsExpanded[i]" class = "row" style="padding-left: 1rem">
							<label [for]="'line_'+i" class="col-6">Text:</label>
							<input [id]="'line_'+i" class="col-5" type="text" [(ngModel)]="text[i]"> 
							<label for="x-coords" class="col-6">X Coords:</label>
							<input id="x-coords" class="col-5" type="number" [(ngModel)]="xCoords[i]" [value]="xCoordsOptions[i]"> 		
							<label for="y-coords" class="col-6">Y Coords:</label>
							<input id="y-coords" class="col-5" type="number" [(ngModel)]="yCoords[i]" [value]="yCoordsOptions[i]"> 
							<label class="col-6">Font Size:</label>
							<select [(ngModel)] = "fontSize[i]" class='select-option col-5'>
								<option class='option'  *ngFor="let size of fontSizeOptions" [value]="size">{{size}}</option>
							</select>		
			        <label [for]="'increment_'+i" class="col-6">Increment:</label>
			        <input type="checkbox"  class="col-5" [id]="'increment_'+i" [(ngModel)]="increment[i]"/>	
			        <label [for]="'isBarcode_'+i" class="col-6">Barcode:</label>
			        <input type="checkbox"  class="col-5" [id]="'isBarcode_'+i" [(ngModel)]="isBarcode[i]"/>	
						</div>						
						<hr>
					</div>
				</div>
			</div>
		</div>
		<div class = "col-8 row labelView container-fluid" style="height:0">
			<svg version="1.1"
			     baseProfile="full"
			     [attr.width]="labelWidth * 222.222" [attr.height]="labelHeight * 200"
			     xmlns="http://www.w3.org/2000/svg">
			  <rect x="1" y="1" width="98%" height="98%" rx="20" ry="20" stroke="black" stroke-width="2" fill="#DCDCDC" />
			  <g *ngFor="let textValue of text; let i=index">
				  <image *ngIf="isBarcode[i]" xlink:href="/assets/images/2d-barcode.jpg" [attr.x]="xCoords[i]" [attr.y]="yCoords[i]" [attr.width]="14*fontSize[i]" [attr.height]="14*fontSize[i]" dominant-baseline="hanging"/>
				  <text *ngIf="!isBarcode[i]" [attr.x]="xCoords[i]" [attr.y]="yCoords[i]" [attr.font-size]="fontSize[i]" text-anchor="start" dominant-baseline="hanging" fill="black">{{textValue}}</text>
				</g>
			</svg>

			<div class = "row col-12" style="margin-top: 1rem">
				Zebra Command: {{generateZebraString()}}
			</div>
			<div class = "row col-12">
				<div class="row col-5">
					<label style="padding-left:0; padding-right:0" for="quantity" class="col-7">Number of Labels:</label>
					<input style="padding-left:0; margin-right: 1rem" class="col-3" name = "quantity" type="number" [(ngModel)]="quantity" [value]="quantity"> 
				</div>
				<button type = "button" class = "col-2 btn btn-outline-secondary btn-block" (click)="printLabel()">Print Labels</button>
			</div>
		</div>
<!-- 		<div class = "col-8 row labelView container-fluid">
			<div class = "row col-12">
				Zebra Command: {{generateZebraString()}}
			</div>
			<div class = "row col-12">
				<div class="row col-5">
					<label style="padding-left:0; padding-right:0" for="quantity" class="col-7">Number of Labels:</label>
					<input style="padding-left:0; margin-right: 1rem" class="col-3" name = "quantity" type="number" [(ngModel)]="quantity" [value]="quantity"> 
				</div>
				<button type = "button" class = "col-2 btn btn-outline-secondary btn-block" (click)="printLabel()">Print Labels</button>
			</div>
		</div>
 -->
	</div>

</div>

<app-print-queue [templates]="labelTemplates" [printQueue]="printQueue" (finalPrintQueue)="getPrintQueue($event)"></app-print-queue>