<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex flex-row justify-content-start">
  <a class="navbar-brand" href="#">Transformation Tools</a>
  <div class="nav-item nav-link active" routerLink="/barcodeChecker" routerLinkActive="active">Barcode Checker</div>
  <div class="nav-item nav-link" routerLink="/labelPrinter" routerLinkActive="active">Label Printer</div>
  <div class="nav-item nav-link" routerLink="/inventory" routerLinkActive="active">Inventory</div>  
</nav>

<router-outlet></router-outlet>