<!-- Button trigger modal -->
<button type="button" class="btn btn-primary col-3 scan__btn" data-toggle="modal" data-target="#scanItemsModal">
  Scan Items
</button>

<!-- SCAN ITEMS MODAL -->
<div class="modal fade" id="scanItemsModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id="scanItemsModal_content">
      <div class="modal-header">
        <h5 class="modal-title">Scan Items</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
				<form>
				  <div class="form-group">
				    <label for="scanner-input">Scan Input: </label>
				    <textarea class="form-control" id="scannerIput" name="scanner-input" [(ngModel)]=scanInputString rows="3"></textarea>
				  </div>
				</form>
				<table class="table table-striped table-hover table-sm">
				  <thead class="thead-light">
				    <tr>
				    	<th scope="col">Name</th>
				      <th scope="col">Scan Count</th>
				      <th scope="col">Inventory Count</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr *ngFor="let item of parseScanInput(); let i = index">
				    	<th scope="row">{{item.item_name}}</th>
				      <th scope="row">{{item.scanned_count}}</th>
				      <th scope="row">{{item.inv_count}}</th>
				    </tr>
				  </tbody>
				</table>
      </div>
      <div id="scan-buttons_div" class="row">
				<button type="button" class="btn btn-primary col-3 log__btn" (click)="updateItems()">Update</button>
	      <button type="button" class="btn btn-primary col-3 log__btn" (click)="addItems()">Add</button>
      <button type="button" class="btn btn-primary col-3 log__btn" (click)="removeItems()">Remove</button>
			</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

