<div id="inv-table-component_div">
	<div class="btn-group btn-group-toggle col-3" id="inv-table-btn-group_div">
	  <label class="btn btn-secondary col-6">
	    <input type="radio" name="options" autocomplete="off" (click)="tableType = 'summary'">Summary
	  </label>
	  <label class="btn btn-secondary col-6">
	    <input type="radio" name="options" autocomplete="off" (click)="tableType = 'individual'">Individual
	  </label>
	</div>

	<div id="inv-table-holding_div" class="table-responsive">
		<table *ngIf="tableType == 'summary'" class="table table-striped table-hover table-sm inv_table">
		  <thead class="thead-light">
		    <tr>
		    	<th scope="col">Name</th>
		      <th scope="col">Inventory Count</th>
		      <th scope="col">Unit</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr *ngFor="let item of summarizeInventoryItems(); let i = index">
		    	<td scope="row">{{item.item_name}}</td>
		      <td scope="row">{{item.inv_count}}</td>
		      <td scope="row">{{item.unit}}</td>
		    </tr>
		  </tbody>
		</table>

		<table *ngIf="tableType == 'individual'" class="table table-responsive table-striped table-hover table-sm inv_table">
		  <thead class="thead-light">
		    <tr>
		      <th scope="col">ID</th>
		      <th scope="col">Name</th>
		      <th scope="col">Item ID</th>
		      <th scope="col">Item Number</th>
		      <th scope="col">Unit</th>
		      <th scope="col">RFID Value</th>
		      <th scope="col">Date Modified</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr *ngFor="let item of inventoryItems; let i = index">
		      <td scope="row">{{item.id}}</td>
		      <td scope="row">{{item.item_name}}</td>
		      <td scope="row">{{item.item_id}}</td>
		      <td scope="row">{{item.item_number}}</td>
		      <td scope="row">{{item.unit}}</td>
		      <td scope="row">{{item.rfid_value}}</td>
		      <td scope="row">{{item.date_modified}}</td>
		    </tr>
		  </tbody>
		</table>
	</div>

</div>